.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar3.crashdump

#logs
/logs/
/measures/

_grisp
.vscode

# JJ
.tool-versions
eeprom_board.dat
eeprom_som.dat
rebar.lock
python
liveView/octave-workspace
prompt.txt
OURexperiments
src/ignore